aio-pika==9.6.0
aioboto3==15.5.0
aiohttp==3.13.4
aiormq==6.9.2
cachetools==7.0.1
cryptography==46.0.7
fastapi==0.129.2
jwcrypto==1.5.6
psycopg2-binary==2.9.11
pyasn1==0.6.3
pyasn1_modules==0.4.2
pydantic==2.12.5
python-pkcs11==0.9.3
SQLAlchemy==2.0.46
starlette==0.52.1
uvicorn==0.41.0
PyYAML==6.0.3
yaml-pydantic-dataclass==0.1.1
vism-lib==0.1.3
PyMySQL==1.1.3
PyMySQL[rsa]==1.1.3
PyMySQL[ed25519]==1.1.3
